* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}

body {
    overflow-x: hidden;
}


/* Styling navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#393E41, #292F33);
}

.logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff,0 0 80px #00b3ff,0 0 120px #00b3ff;
}

.lightbar {
    margin-left: 11%;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 8%;
    border-radius: 0.5px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff,0 0 80px #00b3ff,0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar {
    0%,5%
    {
        transform: scaleY(0) translateX(0);
    }
    10%
    {
        transform: scaleY(1) translateX(0);
    }
    90%
    {
        transform: scaleY(1) translateX(calc(300px - 10px));
    }
    95%,100%
    {
        transform: scaleY(0) translateX(calc(300px - 10px));
    }
}

.toplayer {
    position: absolute;
    margin-left: 11%;
    top: 0;
    left: 0;
    width: 22%;
    height: 8%;
    background: linear-gradient(#393E41, #292F33);
    animation: animatetoplayer 10s linear infinite;
}

@keyframes animatetoplayer {
    0%,2.5%
    {
        transform: translateX(0);
    }
    5%
    {
        transform: translateX(0);
    }
    45%
    {
        transform: translateX(100%);
    }
    50%,50%
    {
        transform: translateX(100%);
    }

    50.001%,52.5%
    {
        transform: translateX(-100%);
    }
    55%
    {
        transform: translateX(-100%);
    }
    95%
    {
        transform: translateX(0);
    }
    97.5%,100%
    {
        transform: translateX(0);
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links a:hover{
    
    color: #1EA5FC;
    
}
/* tutup */

/* styling hero */
.hero-sect {
    background: linear-gradient(#292F33, #393E41);
    height: 650px;
}

.container-social {
    display: flex;
    justify-content: left;
}

.icon-social {
    padding: 20px;
    margin-top: 75px;
}

.icon-social a {
    display: flex;
    background: linear-gradient(#292F33, #393E41);
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(7, 9, 32, 0.575);
}

.icon-social i {
    font-size: 20px;
    color: white;
}

.icon-social i:hover {
    color: #1488CC;
}

.image-path {
    position: relative;
    margin-top: -350px;
    margin-left: 200px;
}

.image-foto {
    position: relative;
    margin-left: 200px;
    margin-top: -480px;
}

.text-content-1 {
    position: relative;
    margin-left: 700px;
    margin-top: -400px;
}

.text-content-1 h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}

.text-content-2 {
    position: relative;
    margin-left: 700px;
}

.text-content-2 h2 {
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 34%;
}

.container-button a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #00b3ff;
    margin: 40px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

.container-button a span {
    position: relative;
    z-index: 100;
}

.container-button a:hover {
    transition-delay: 1.5s;
    color: #393E41;
    box-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 160px #00b3ff;
}

.container-button a:nth-child(2) {
    filter: hue-rotate(80deg);
}

.container-button a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #00b3ff;
    box-shadow: 5px -8px 0 #00b3ff,5px 8px 0 #00b3ff;
    transition: 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container-button a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #00b3ff,5px 0 0 #00b3ff;
    transition-delay: 0s,0.5s,1s,1s;
}

.container-button a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #00b3ff;
    box-shadow: -5px -8px 0 #00b3ff,-5px 8px 0 #00b3ff;
    transition: 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container-button a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #00b3ff,-5px 0 0 #00b3ff;
    transition-delay: 0s,0.5s,1s,1s;
}

/* tutup */

/* styling about */
.about-sect {
    background: linear-gradient( #393E41,#292F33);
    height: 700px;
}

.about-wrapper-title {
    position: relative;
    padding: 20px;
    margin-left: 100px;
}

.about-wrapper-title h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container-img-about {
    position: relative;
    width: 1280px;
    display: flex;
    padding: 10px;
    margin-left: 8%;
    justify-content: left;
    align-items: center;
}

.container-img-about .cards {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#2196f3,#2196f3 30%,#1d3548 30%,#1d3548);
    border-radius: 20px;
    overflow: hidden;
}

.container-img-about .cards .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
}

.container-img-about .cards:hover .imgBx {
    transform: translateY(30px) scale(0.5);
}

.container-img-about .cards .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img-about .cards .content-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}

.container-img-about .cards:hover .content-about {
    transform: translateY(0);
}

.container-img-about .cards .content-about .details-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-img-about .cards .content-about .details-about h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.container-img-about .cards .content-about .details-about h2 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #2196f3;   
}

.social-icons {
    position: relative;
    display: flex;
    margin-top: 5px;
}

.social-icons li {
    list-style: none;
    margin: 4px;
}

.social-icons li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #ffff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icons li a:hover {
    transform: rotate(360deg);
    background: #03a9f4;
}

.content-text {
    display: inline-block;
    position: relative;
    margin-left: 35%;
    margin-right: 10%;
    top: -50%;
}

.content-text p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 50;
}

.container-button-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -70%;
}

.container-button-about a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #00b3ff;
    margin: 40px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

.container-button-about a span {
    position: relative;
    z-index: 100;
}

.container-button-about a:hover {
    transition-delay: 1.5s;
    color: #393E41;
    box-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 160px #00b3ff;
}

.container-button-about a:nth-child(2) {
    filter: hue-rotate(80deg);
}

.container-button-about a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #00b3ff;
    box-shadow: 5px -8px 0 #00b3ff,5px 8px 0 #00b3ff;
    transition: 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container-button-about a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #00b3ff,5px 0 0 #00b3ff;
    transition-delay: 0s,0.5s,1s,1s;
}

.container-button-about a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #00b3ff;
    box-shadow: -5px -8px 0 #00b3ff,-5px 8px 0 #00b3ff;
    transition: 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container-button-about a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #00b3ff,-5px 0 0 #00b3ff;
    transition-delay: 0s,0.5s,1s,1s;
}

/* tutup */

/* styling selected project */

.selected-project {
    background: linear-gradient(#292F33,#393E41);
    height: 1500px;
}

.selectedproject-wrapper-title {
    position: relative;
    padding: 20px;
    margin-left: 100px;
}

.selectedproject-wrapper-title h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.all-img-baris-1 {
    display: inline-block;
    justify-content: space-around;
    /* position: relative; */
    /* top: 50%;
    left: 100%; */
    transform: translate(10%, 5%);

}

.image-induk-1 {
    position: relative;
    width: 1100px;
}

.img1 {
    display: block;
    width: 100%;
}


.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover {
    opacity: 1;
}

.img-overlay:hover > * {
    transform: translateY(0);
}

.btn-look {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #1EA5FC;
    width: 200px;
    height: auto;
    background: none;
    border: 2px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 10px;
    cursor: pointer;
}

.btn-look:hover {
    background: linear-gradient(#1488CC,#2B32B2);
    color: white;
}

.image-induk-2 {
    position: relative;
    width: 1100px;
    margin-top: 40px;
}

.img2 {
    display: block;
    width: 100%;
}


.img-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-overlay-2 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay-2:hover {
    opacity: 1;
}

.img-overlay-2:hover > * {
    transform: translateY(0);
}

.btn-look-2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #1EA5FC;
    width: 200px;
    height: auto;
    background: none;
    border: 2px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 10px;
    cursor: pointer;
}

.btn-look-2:hover {
    background: linear-gradient(#1488CC,#2B32B2);
    color: white;
}

/* tutup */

/* styling service */

.service {
    background: linear-gradient(#393E41,#292F33);
    height: 700px;
}

.service-wrapper-title {
    position: relative;
    top: 5%;
    margin-left: 42%;
}

.service-wrapper-title h1 {
    color: white;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container-service {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-top: 5%;
}

.container-service .card-service {
    position: relative;
    width: 300px;
    height: 400px;
    background: #393E41;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;
}

.container-service:hover .card-service {
    opacity: 0.2;
}

.container-service .card-service:hover {
    opacity: 1;
}

.container-service .card-service::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}

.container-service .card-service .content-service {
    padding: 30px;
    text-align: center;
}

.container-service .card-service .content-service h2 {
    right: 30px;
    position: absolute;
    font-size: 4em;
    font-weight: 800;
    color: #1779ff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container-service .card-service:hover .content-service h2 {
    opacity: 1;
    transform: translateY(-70px);
}

.container-service .card-service .content-service h3 {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

.container-service .card-service .content-service p {
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    font-weight: 300;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

.container-service .card-service:hover .content-service h3 ,
.container-service .card-service:hover .content-service p {
    opacity: 1;
}

.container-service .card-service .content-service a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.container-service .card-service span {
    transition: 0.5s;
    opacity: 0;
}

.container-service .card-service:hover span {
    opacity: 1;
}

.container-service .card-service span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

.container-service .card-service span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

.container-service .card-service span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.container-service .card-service span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}

/* tutup */

.why {
    background: linear-gradient(#292F33,#393E41);
    height: 1100px;
}

.why-wrapper-title {
    position: relative;
    top: 5%;
    margin-left: 36%;
}

.why-wrapper-title h1 {
    color: white;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container-why {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container-why .card-why {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg,#1a2f3f,#7094ce);
}

.container-why .card-why img {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 400px;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container-why .card-why:hover img {
    left: 75%;
    height: 500px;
}

.container-why .card-why .content-why {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container-why .card-why:hover .content-why {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container-why .card-why .content-why h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container-why .card-why .content-why p {
    color: #fff;
}
.container-why .card-why .content-why a {
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

.container-why-2 {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50%; */
    min-height: 50vh;
    font-family: 'Montserrat', sans-serif;
}

.container-why-2 .card-why-2 {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    margin-bottom: 40%;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg,#1a2f3f,#7094ce);
}

.container-why-2 .card-why-2 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 400px;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container-why-2 .card-why-2:hover img {
    left: 75%;
    height: 500px;
}

.container-why-2 .card-why-2 .content-why-2 {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container-why-2 .card-why-2:hover .content-why-2 {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container-why-2 .card-why-2 .content-why-2 h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container-why-2 .card-why-2 .content-why-2 p {
    color: #fff;
}
.container-why-2 .card-why-2 .content-why-2 a {
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}


/* tutup */

/* styling tools & skills */

.tools {
    background: linear-gradient(#393E41,#292F33);
    height: 900px;
}

.tools-wrapper-title {
    position: relative;
    top: 5%;
    margin-left: 36%;
}

.tools-wrapper-title h1 {
    color: white;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tools-content-1 {
    display: inline-block;
    background: linear-gradient(#393E41, #292F33);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 30%;
    left: 18%;
    transform: translate(-50%, -50%);
}

.tools-content-1:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 50%;
}

.tools-content-2 {
    display: inline-block;
    background: linear-gradient(#393E41, #292F33);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 30%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.tools-content-2:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 60%;
}

.tools-content-3 {
    display: inline-block;
    background: linear-gradient(#393E41, #292F33);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 30%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.tools-content-3:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 40%;
}

.tools-content-4 {
    display: inline-block;
    background: linear-gradient(#292F33,#393E41);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 70%;
    left: 18%;
    transform: translate(-354%, -50%);
}

.tools-content-4:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 50%;
}

.tools-content-5 {
    display: inline-block;
    background: linear-gradient(#292F33,#393E41);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tools-content-5:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-5 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 50%;
}

.tools-content-6 {
    display: inline-block;
    background: linear-gradient(#292F33,#393E41);
    width: 300px;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #00061662, 3px 3px 5px rgba(12, 32, 66, 0.288);
    cursor: pointer;
    position: relative;
    top: 36%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.tools-content-6:hover {
    box-shadow: inset -3px -3px 7px #00061662, inset 3px 3px 5px rgba(8, 29, 65, 0.288);
}

.tools-content-6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    width: 50%;
}

/* tutup */

/* styling footer */

.footer {
    background: linear-gradient(#393E41,#292F33);
    height: 300px;
}

.footer-wrapper-title {
    position: relative;
    padding: 20px;
    margin-left: 80px;
}

.footer-wrapper-title h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer-wrapper-title p {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.footer-wrapper-title span a{
    color: white;
}

.container-social2 {
    display: flex;
    justify-content: center;
}

.icon-social2 {
    display: flex;
    padding: 20px;
    margin-top: 25px;
}

.icon-social2 a {
    display: flex;
    background: linear-gradient(#292F33, #393E41);
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(7, 9, 32, 0.575);
}

.icon-social2 i {
    font-size: 20px;
    color: white;
}

.icon-social2 i:hover {
    color: #1488CC;
}

/* tutup */

/* responsive media query start */
@media (max-width: 1300px) {
    .hero-sect .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .hero-sect 

    .container-why .card-why {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }

    .container-why .card-why:hover {
        height: 600px;
    }

    .container-why .card-why:hover img {
        left: 50%;
        height: 350px;
    }

    .container-why .card-why .content-why {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .container-why-2 .card-why-2 {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }

    .container-why-2 .card-why-2:hover {
        height: 600px;
    }

    .container-why-2 .card-why-2:hover img {
        left: 50%;
        height: 350px;
    }

    .container-why-2 .card-why-2 .content-why-2 {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .container-why {
        flex-direction: column;
    }
    .container-why .card-why {
        margin: 40px 20px;
    }
    .container-why-2 {
        flex-direction: column;
    }
    .container-why-2 .card-why-2 {
        margin: 40px 20px;
    }
}

@media (max-width: 420px) {
    .container-why .card-why {
        padding: 30px;
    }
    .container-why .card-why:hover img {
        height: 300px;
    }
    .container-why-2 .card-why-2 {
        padding: 30px;
    }
    .container-why-2 .card-why-2:hover img {
        height: 300px;
    }
}